.header-container {
    padding-top: 3.4rem;
    padding-bottom: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-logo {
    height: 64px;
    width: 64px;
}