main{
    padding-bottom: 5rem;
}
.menu-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;
}
.menu__title {
    text-align: center;
    margin-bottom: 2.3rem;
}
.menu__desc {
    text-align: center;
    max-width: 730px;
}
.menu-images {
    display: flex;
    justify-content: space-between;
    gap: 2.4rem;
}
.graphic-design {
    width: 354px;
    height: 364px;
}
.main-wrapper{
    display: flex;
    gap: 2.4rem;
}
.illustration-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}
.illustration-wrapper img{
    width: 354px;
    height: 158px;
}
.upper-wrapper {
    display: flex;
    gap: 2.5rem;
}
.upper-wrapper img{
    width: 164px;
    height: 182px;
}
.last-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;    
}
.photography{
    width: 354px;
    height: 182px;
}
.motion-graphics{
    width: 354px;
    height: 158px;
}


.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13rem;
}
.hero__img {
    width: 445px;
    height: 445px;
    margin-right: 7rem;
}
.hero-content {
    display: flex;
    flex-direction: column;
}
.hero__title {
    margin-bottom: 3.4rem;
    max-width: 540px;
}
.hero__desc {
    margin-bottom: 3.2rem;
    max-width: 540px;
}
.hero-btn {
    align-self: start;
}




.work-container {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
}
.work__title {
    margin-bottom: 5.6rem;
    align-self: center;
}
.work-navigation {
    display: flex;
    gap: 1rem;
}
.work__img1 {
    height: 300px;
    width: 350px;
}
.work__img2 {
    height: 300px;
    width: 410px;
}
.work__img3 {
    height: 300px;
    width: 350px;
}
.work__btns {
    display: flex;
    align-self: center;
    gap: 2rem;
    margin: 5.6rem;
}


.discussion-container {
    background-color: $black-color;
    border-radius: 10px;
    padding: 8rem 9.5rem 8rem 6.5rem;
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
}
.discussion-content {
    display: flex;
    flex-direction: column;
    max-width: 540px;
}
.discussion__title {
    color: $white-color;
    margin-bottom: 2.5rem;
}
.discussion__desc {
    color: $white-color;
}
.discussion__btn {
    align-self: center;
}






// RESPONSIVE



@media screen and (max-width:1220px) {
    .work-navigation {
        align-self: center;
        display: flex;
        gap: 3rem;
    }
    .work__img3 {
        display: none;
    }
    .work__btns {
        display: flex;
        align-self: center;
        gap: 2rem;
        margin: 5.6rem;
    }

    .discussion-container {
        max-width: 1010px;
    }
}

@media screen and (max-width:1120px) {
    .discussion-container {
        max-width: 910px;
        padding: 5.6rem 7.5rem 6.4rem 7.5rem;
    }
    .discussion__btn{
        font-size: 1.5rem;
        padding: 1rem 2.7rem;
    }
    .discussion-content{
        margin-right: 2rem;
    }
    
}



@media screen and (max-width:1200px) {
    .menu__title{
        font-size: 4.4rem;
    }
    .menu-images {
        gap: 2.4rem;
        flex-direction: column;
        align-items: center;
    }
    .last-wrapper {
        flex-direction: row;    
    }
    .photography{
        width: 354px;
        height: 175px;
        border-radius: 8px;
    }
    .motion-graphics{
        width: 354px;
        height: 175px;
        border-radius: 8px;
    }
}


@media screen and (max-width:1020px) {
    .discussion-container {
        max-width: 810px;
        padding: 5rem 7rem 6rem 7rem;
    }
    .discussion__btn{
        font-size: 1.4rem;
        padding: 1rem 2.6rem;
    }
    .discussion-content{
        margin-right: 2rem;
    }
    .discussion__title{
        font-size: 3.6rem;
    }
    .discussion__desc{
        font-size: 1.5rem;
        max-width: 450px;
    }
    
}


@media screen and (max-width:920px) {
    .hero__img{
        width: 364px;
        height: 364px;
        margin-right: 4rem;
    }
    .hero__title{
        font-size: 3.2rem;
    }
    .hero__desc{
        font-size: 1.6rem;
    }
    .work__img1{
        width: 100%;
        height: auto;
    }
    .work__img2{
        display: none;
    }

    .discussion-container {
        flex-direction: column;
        align-items: center;
        max-width: 710px;
    }
    .discussion__btn{
        margin-top: 2.6rem;
    }
    .discussion-content{
        margin-right: 0;
        text-align: center;
    }
    .discussion__title{
        font-size: 3.6rem;
    }
    .discussion__desc{
        max-width: 560px;
    }
}


@media screen and (max-width:830px) {
    .menu__title{
        font-size: 3.6rem;
    }
    .main-wrapper{
        flex-direction: column;
    }
    .last-wrapper {
        flex-direction: column;    
    }
    .photography{
        width: 354px;
        height: 182px;
    }
    .motion-graphics{
        width: 354px;
        height: 158px;
    }
    .discussion-container{
        max-width: 610px;
    }
}


@media screen and (max-width:710px) {
    .hero-container{
        flex-direction: column;
        align-items: center;
    }
    .hero__img{
        margin-bottom: 4rem;
        margin-right: 0;
        height: 300px;
        width: 300px;
    }
    .hero-content{
        text-align: center;
        align-items: center;
    }
    .hero__title{
        font-size: 2.6rem;
        margin-bottom: 2.4rem;
    }
    .hero__desc{
        max-width: 600px;
        margin-bottom: 2.4rem;
    }
    .hero-btn{
        align-self: center;
        font-size: 1.4rem;
        padding: 8px 2.7rem;
    }
}


@media screen and (max-width:650px) {
    .discussion-container{
        max-width: 520px;
    }
}

@media screen and (max-width:550px) {
    .discussion-container{
        max-width: 420px;
        padding: 4.5rem 2.4rem 4.8rem 2.4rem;
    }
    .discussion__title{
        font-size: 3rem;
    }
    .discussion__desc{
        font-size: 1.3rem;
    }
}

@media screen and (max-width:450px) {
    .discussion-container{
        max-width: 330px;
    }
    .discussion__title{
        font-size: 2.6rem;
    }
    .discussion__desc{
        font-size: 1.2rem;
    }
    .discussion__btn{
        font-size: 1.3rem;
    }
}